<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnRisky="false"
         failOnWarning="false"
         beStrictAboutOutputDuringTests="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./includes/vendor</directory>
            <directory>./includes/admin/views</directory>
            <directory>./includes/cache</directory>
            <directory>./includes/integrations</directory>
        </exclude>
    </coverage>

    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="SERVER_NAME" value="formflow.test"/>
    </php>
</phpunit>
